{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  rules: {
    "prettier/prettier": ["error", { printWidth: 120 }],
    "no-undef": "error",
    "no-unused-vars": ["error", { vars: "local", args: "none" }]
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  }
}
