.menu {
    min-width: 200px;
    border-radius: 5px;
    font-size: 12px;
    float: left;
    background: rgba(0,0,0,.5);
    margin-left: 5px;
    height: 30px;
    line-height: 22px;
    padding: 4px 5px 0 5px;
}
