body {
    position: relative;
    color: white;
    height: 100vh;
    background-color: #999;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, .2) 10%,
        rgba(0, 0, 0, .8)
    );
    font-family: Arial, Helvetica, Helvetica Neue;
    overflow-y: hidden;
}

svg {
    outline: none;
}

rect {
    pointer-events: all;
    stroke: none;
    fill-opacity: .2;
}

circle,
.line {
    stroke-width: 1.5px;
    stroke: #00ffff;
}

.line {
    pointer-events: none;
    fill: #00ffff;
    fill-opacity: .1;
}

circle {
    fill: #000;
    fill-opacity: .2;
    cursor: move;
}

circle.curve {
    fill-opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.axis path.domain,
.axis text {
    display: none;
}
