body {
    position: relative;
    color: white;
    height: 100vh;
    background-color: #444;
    overflow-y: hidden;
    margin: 10px !important;
    font-family: Arial, Helvetica, Helvetica Neue;
}

::-webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.8);
    border-radius: 10px;
}

rect {
    pointer-events: all;
    stroke: none;
    fill-opacity: .2;
}

circle,
.line {
    stroke-width: 1.5px;
}

circle.selected {
    stroke: #00FF00;
}

.line {
    pointer-events: none;
    fill-opacity: .1;
}

circle {
    fill-opacity: .2;
    cursor: move;
}

circle.curve {
    fill-opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

.axis path.domain,
.axis text {
    display: none;
}

.push-right-small { margin-right: 5px; }
.push-right { margin-right: 10px; }
.push-left-small { margin-left: 5px; }
.push-left { margin-left: 10px; }
.push-top-small { margin-top: 5px; }
.push-top { margin-top: 10px; }
.push-bottom-small { margin-bottom: 5px; }
.push-bottom { margin-bottom: 10px; }
.pull-right { float: right; }
.pull-left { float: right; }
.clearfix { clear: both; }

.dropdown-menu li a {
    padding: 1px 5px;
}

.btn:focus {
    outline: 0 !important;
}
.btn i {
    text-shadow: none;
}

.noselect {
    -webkit-user-select: none;
    cursor: default;
}

.monospace {
    font-family: monospace;
}

.contextMenu {
    border-radius: 5px;
    font-size: 12px;
    float: left;
    background: rgba(0,0,0,.2);
    margin-left: 5px;
    height: 30px;
    line-height: 22px;
    padding: 4px 5px 0 5px;
}
