body {
    position: relative;
    color: white;
    height: 100vh;
    background: linear-gradient(to left, #232526 , #414345);
    overflow-y: hidden;
    margin: 10px !important;
    font-family: Arial, Helvetica, Helvetica Neue;
}

#root ::-webkit-scrollbar {
    height: 10px;
}

#root ::-webkit-scrollbar-track {
    background: rgba(0,0,0,.2);
    border-radius: 10px;
}

#root ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.8);
    border-radius: 10px;
}

rect {
    pointer-events: all;
    stroke: none;
    fill-opacity: .2;
}

circle,
.line {
    stroke-width: 1.5px;
}

circle.selected {
    fill-opacity: 1;
}

.line {
    pointer-events: none;
    fill-opacity: .1;
}

circle {
    fill-opacity: .2;
    cursor: move;
}

circle.curve {
    fill-opacity: 1;
}

.push-right-small { margin-right: 5px; }
.push-right { margin-right: 10px; }
.push-left-small { margin-left: 5px; }
.push-left { margin-left: 10px; }
.push-top-small { margin-top: 5px; }
.push-top { margin-top: 10px; }
.push-bottom-small { margin-bottom: 5px; }
.push-bottom { margin-bottom: 10px; }
.pull-right { float: right; }
.pull-left { float: right; }
.clearfix { clear: both; }

.dropdown-menu {
    min-width: 0 !important;
}

.dropdown-menu li a {
    padding: 1px 5px;
}

.btn#pathSelector {
    padding-left: 5px;
}

.btn:focus {
    outline: 0 !important;
}

.btn i {
    text-shadow: none;
}

.noselect {
    -webkit-user-select: none;
    cursor: default;
}

.monospace {
    font-family: monospace;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}
